body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, #B993F7, #8142E5);
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

thead {
    background: #f4f4f4;
}

input, select, button {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    margin-top: 20px;
    background: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

/* Styling for result section */
#result {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
}

.line {
    display: flex;
    font-size: medium;
    align-items: center; /* Align vertically */
    margin-bottom: 10px; /* Adjust spacing between lines */
}

.line h2 {
    margin-right: 10px; /* Add space between heading and input field */
}

.line input[type="text"] {
    font-weight: bolder;
    font-size: larger;
    width: 100px; /* Adjust width as needed */
    height: 25px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
